# PDS: Assignment 3

### Deadline: February 9 (until 23:59)


**Instructions:** All answers should be filled in the notebook and then submitted to Moodle. For theoretical question you can use markdown and LaTeX. Name of notebook should be in following format:
 - Name_group_Assignment3.ipynb (ex. Mussalim_Kaisar_1905_Assignment3.ipynb)
 - Try to use fewer cells for compilation (for example, you can use print for several answers, instead of printing each answer on a separate cell)
 - **PLEASE:** submit only one jupyter notebook (no zip or csv files) and with your names as in the instruction. Ohterwise, there will be punishment for 1 point.

## Q1 (1 point)
Solve the tasks below.

***Please write your code in the cell with the task.***

### Task 1
Print the number of words in the text. Enter your code in the cell below. The cell already contains code that takes the text from the file and saves it as a string in the variable txt. Note that the text contains new line characters "\n".


***Hints:*** Count words with apostrophes, e.g. "didn't", as one word. Do not count punctuation marks, e.g. hyphens "-", as words. Attention to detail is important here!

In [203]:
import string
with open('q1_file.txt') as f:
    txt = f.read()
    
punct = '''.,:;"/\-?!''' #specify punctuations that we must ignore

for i in txt:
    if i in punct: 
        txt = txt.replace(i, "") #remove punctuations from the text
        
words = txt.split() #split words from each other

print('Number of words:', len(words)) #calculate number of words

Number of words: 1425

### Task 2

Print the number of unique words in the text. Enter your code in the cell below. 

***Hints:*** Count contractions, e.g. "didn't", and possessives , e.g. "policeman's", as distinct words but ignore formatting such as capitalization and quotation marks.

In [204]:
import string 

txt1 = open("q1_file.txt", "r") 

d = dict() #call dictionary

for line in txt1: 
    
    line = line.strip().lower().translate(line.maketrans("", "", string.punctuation)) #doing same things as in the Task1, but with adding lower()
    
    all = line.split(" ") #split words from each other

    for unique in all: 
        if unique in d: 
            d[unique] = d[unique] + 1 #count word that repeats
        else: 
            d[unique] = 1 #leave as 1 if it is only one

print('Number of unique words:',len(d)) #calculate number of unique words

Number of unique words: 506

### Task 3

Consider the words "the", "a", "and", "man", and "time". Create a dictionary where each of these words is a key and the value is the number of times the word appears in the text. Then print five lines of text, each containing one of the words and the number of times it appears.

In [205]:
li = list(d.keys()) #convert to list

for key in li[0:5]: #specify first five lines
    print(key, ":", d[key])

someone : 2
must : 2
have : 15
been : 6
telling : 1

## Q2 (1 point)
Solve the tasks below.

***Please write your code in the cell with the task.***

In [206]:
# Task 1: Create a list that contains all integers from 1 to 100 (inclusive), 
# except that it has the string 'boo' for every integer that is divisible by 3 
# Your list should look like: [1, 2, 'boo', 4, 5, 'boo', 7, 8, 'boo', 10, ...]

li = []
for x in range(1, 101):
    li.append(x)

for index, i in enumerate(li):
    if not (i % 3): #if divisible by 3 
        li.pop(index) 
        li.insert(index, 'boo') #replace with 'boo'
    else:
        continue
        
print(li)

[1, 2, 'boo', 4, 5, 'boo', 7, 8, 'boo', 10, 11, 'boo', 13, 14, 'boo', 16, 17, 'boo', 19, 20, 'boo', 22, 23, 'boo', 25, 26, 'boo', 28, 29, 'boo', 31, 32, 'boo', 34, 35, 'boo', 37, 38, 'boo', 40, 41, 'boo', 43, 44, 'boo', 46, 47, 'boo', 49, 50, 'boo', 52, 53, 'boo', 55, 56, 'boo', 58, 59, 'boo', 61, 62, 'boo', 64, 65, 'boo', 67, 68, 'boo', 70, 71, 'boo', 73, 74, 'boo', 76, 77, 'boo', 79, 80, 'boo', 82, 83, 'boo', 85, 86, 'boo', 88, 89, 'boo', 91, 92, 'boo', 94, 95, 'boo', 97, 98, 'boo', 100]

In [217]:
# Task 2: Sum the even integers from the list below using iteration
lst = [1, 3, 2, 4.5, 7, 8, 10, 3, 5, 4, 7, 3.33]

sum = 0

for j in range(len(lst)):
    if(lst[j] % 2 == 0): 
        sum = sum + lst[j]

print('Sum of the even integers:', sum)

Sum of the even integers: 24

In [216]:
# Task 3: Using a list comprehension, create a new list containing 
# the squares of the integers in the list below
lst = [1, 3, 2, 4.5, 7, 8, 10, 3, 5, 4, 7, 3.33]

squared = [new ** 2 for new in lst]

print('Squared list:', squared)

Squared list: [1, 9, 4, 20.25, 49, 64, 100, 9, 25, 16, 49, 11.0889]

In [209]:
# Task 4: Consider the lists x and y below. Using a list comprehension,
# create a list that contains all combinations of (elem_x, elem_y) 
# such that elem_x + elem_y = 6
# Your answer should look as follows: [(0, 6), (1, 5), (2, 4), (3, 3)]
x = [0, 1, 2, 3]
y = [3, 4, 5, 6]

l1 = iter(x)
l2 = reversed(y)

result = []
try: #using try and except in order to have an access to the next value
    x = next(l1)
    y = next(l2)
    while True: 
        if x + y == 6: 
            new_pair = x, y #remember the pair if the sum gives 6
            result.append(new_pair)
            x = next(l1) 
            
            while x == new_pair[0]:
                x = l1.next() #go through x
                
            y = next(l2)
            while y == new_pair[1]:
                y = next(l2) #go through y
                
        elif x + y > 6:
            y = next(l2)
        else:
            x = next(l1)

except StopIteration:
    pass

print(result)

[(0, 6), (1, 5), (2, 4), (3, 3)]

# For the next questions you will need to read about k-means clustering algorithm
## Moreover, it might help to enhance your knowledge for AITU Project Challenge
### Writing your own k-means clustering algorithm

K-means clustering is a simple unsupervised machine-learning method for cluster analysis. The aim of the method is to partition a set of points into k clusters, such that each point is assigned to the nearest cluster. The algorithm iterates through two steps:

1. Assign each data point to the cluster with the nearest centroid
2. Update the centroids of the clusters given the new assignment

The algorithm converges when the assignments no longer change. Since the intial assignment to clusters is largely random, there is no guarantee that the optimum assignment is found. So it is common to run the algorithm multiple times and use different starting conditions.

In this assignment, we will implement a much simplified version of the k-means clustering algorithm. Rather than running the algorithm until convergence, we will repeat the above two steps a large but fixed number of times. In addition, we will initialize only once, using a naive method according to which we randomly choose k points from the data to use as initial cluster centroids. 

(In real life, you will of course use a library to implement such an algorithm. In Python, you can do this using [scikit-learn](http://scikit-learn.org/stable/modules/generated/sklearn.cluster.KMeans.html).)

For Q5, we will additionally use data from the file "Wholesale_customers_data.csv". The file contains information on the annual spending on diverse product categories for the clients of a wholesale distributor. The data are obtained from the [UCI Machine Learning Repository](http://archive.ics.uci.edu/ml/index.php) and you can find more information about them [here](http://archive.ics.uci.edu/ml/datasets/Wholesale+customers#).

## Q3 (1 point)
### Function to estimate Euclidean distance between two points

Write a function called `get_distance` that calculates the Euclidean distance between two n-dimensional points. The function should take two lists as arguments, where each list contains the n coordinates of each of the two points. 

Test your function for the points [0, 3, 0] and [4, 0, 0].

***Hints:*** You can read about the definition of Euclidean distance on [Wikipedia](https://en.wikipedia.org/wiki/Euclidean_distance).

***Use docstrings to describe your functions.***

In [218]:
import math
import numpy as np

def get_distance(x, y):
    """function takes the values of x and y, and returns the Euclidean distance by the formula."""
    return math.sqrt(np.sum((x-y)**2))

li1 = np.array((0,3,0))
li2 = np.array((4,0,0))

print('Euclidean distance:', get_distance(li1, li2))

Euclidean distance: 5.0

## Q4 (1 point)

### Function to estimate the centroid of a collection of points

Write a function called `get_centroid` that estimates the centroid of a collection of n-dimensional points. The function should take one list as an argument, which contains each of the points entered as a list of n coordinates. The function should return a list with the coordinates of the virtual center point.

Test your function for the points in `test_lst` entered below.

***Hints:***  The coordinate of the centroid in each dimension is the mean of the coordinates of all the points in that dimension.

***Use docstrings to describe your functions.***

In [220]:
test_lst = [[0,0,0], [0,0,1], [0,1,0], [1,0,0], 
            [0,1,1], [1,0,1], [1,1,0], [1,1,1]]

arr = np.array(test_lst)

def get_centroid(arr):
    """function gets array and then calculates total amount of collections of points. 
    then it takes the sum from each point and returns each mean"""
    
    length = arr.shape[0]
    
    sum_x = np.sum(arr[:, 0])
    sum_y = np.sum(arr[:, 1])
    sum_z = np.sum(arr[:, 2])
    
    return sum_x/length, sum_y/length, sum_z/length

print('Centroid of a collection:', get_centroid(arr))

Centroid of a collection: (0.5, 0.5, 0.5)

## Q5 (1 point)
### Function to read data

Write a function called `get_data` that opens the file "Wholesale customers data.csv" and returns all the data in a list. Each element in the list should be a list of each customer's annual spending on fresh products, milk products, grocery products, frozen products, detergents and paper products, and delicatessen products. In other words, your list should contain 440 elements (customers), each of which contains six numeric elements (amounts spent on products). The function does not need to take any arguments.

Test your function by saving the data it returns in a variable called `data`. Then print the first two elements of `data`.


***Hints:*** Use the csv module to read the file. You can read how to do this [here](https://docs.python.org/3/library/csv.html). Make sure you do not include the column names in the data.

***Use docstrings to describe your functions.***

In [212]:
import pandas as pd

df = pd.read_csv('Wholesale_customers_data.csv')
df

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen
0,2,3,12669,9656,7561,214,2674,1338
1,2,3,7057,9810,9568,1762,3293,1776
2,2,3,6353,8808,7684,2405,3516,7844
3,1,3,13265,1196,4221,6404,507,1788
4,2,3,22615,5410,7198,3915,1777,5185
...,...,...,...,...,...,...,...,...
435,1,3,29703,12051,16027,13135,182,2204
436,1,3,39228,1431,764,4510,93,2346
437,2,3,14531,15488,30243,437,14841,1867
438,1,3,10290,1981,2232,1038,168,2125
439,1,3,2787,1698,2510,65,477,52

In [213]:
def get_data():
    """function drops not necessary columns, converts dataframe into the tuple, 
    and returns tuple itself."""
    
    data = df.drop(df.columns[[0, 1]], axis=1)
    data = [tuple(x) for x in data.values]
    return data

print('Number of elements', len(get_data()))
print('First element:', get_data()[0])
print('Second element:', get_data()[1])

Number of elements 440
First element: (12669, 9656, 7561, 214, 2674, 1338)
Second element: (7057, 9810, 9568, 1762, 3293, 1776)

## Q6 (2 points as bonus) - very difficult, solve it only if you solved Q3,4,5 
### Function to implement k-means algorithm

Write a function called `kmeans` that clusters a collection of points into k clusters using a simplified version of the k-means algorithm. The function should take two arguments: 

1. `points` – a list of n-dimensional points, and
2. `k` – an integer that defines the number of desired clusters. 

The function should return two things: 

1. A clustering – a list of `k` clusters, each of which is a list of points (each of which is a list of coordinates)
2. A list of the centroids for each of the `k` clusters. Each centroid is essentially a point, so it should be presented as a list of coordinates.

Write your code around the detailed comments and the helping code below.

Test your function on the data from Q5 for k = 3. For each of the three clusters, print the number of customers assigned to it and the cordinates of its centroid.

In [214]:
import random

def kmeans(points, k):
    '''add docstring'''
    # Select k random points to use as initial centroids
    init_points = random.sample(points, k)

    # Create a list of k lists to contain the points assigned to each cluster.  
    
    
    # Create a list to keep the centroids of the k clusters. 
    # For now, this list will contain the points from init.
    

        # You now need to assign each point to the cluster with the closest centroid. 
        # Use the get_distance function you wrote in Q3 for this.

        

        # You should then update the variable "clusters" to be 
        # the new clustering and update the variable "centroids" 
        # to contain the centroids of the clusters in this new clustering.
        # Use the function you wrote in Q4 to estimate the centroids.

       
    # Repeat the process described above for 100 iterations. 
    # The idea is that each new repetition refines the clustering 
    # because it starts from the centroids of the previous clustering. 
    # If we repeat the process long enough, the assignment to 
    # clusters and the centroids will become stable.